//doctype html !!! これがあると動かない!
html
  head
    meta(charset='utf-8')
    title #{wiki} / #{title}
    link(rel="stylesheet",href="/stylesheets/gyazz.css",type="text/css")
    link(rel="stylesheet",href="/stylesheets/tipTip.css",type="text/css")
    link(rel="apple-touch-icon",href="/gyazz.png")
    link(rel="shortcut icon",href="/favicon.ico")
    link(rel="alternate",type="application/rss+xml",title="#{title} RSS Feed",href="#{wiki}/rss.xml")
    meta(name="robots",content="page.wiki[searchable] ? index,follow : noindex,nofollow")

    script(src='/javascripts/pbsearch.js')
    script(src='/javascripts/pbdict.js')
    script(src='/javascripts/utf.js')
    script(src='/javascripts/md5.js')
    script(src='/javascripts/location.js')
    script(src="/javascripts/jquery.js")
    script(src='/javascripts/jQuery.kill_referrer.js')
    script(src='/javascripts/jquery.tipTip.js')

    script(src='/javascripts/transpose.js')
    script(src='/javascripts/align.js')
    script(src='/javascripts/gyazz.js')
    script.
      var name = "#{wiki}"; // escape_jsvar
      var title = "#{title}"; // escape_jsvar
      var root = "http://localhost:3000";
      var do_auth = false;
      var writable = true;
  body
    div.title
      span.wordtitle
        img#historyimage(src="/#{wiki}/#{title}/modify.png",height=18,width=80)
        if writable
          a#title(href="/#{wiki}/#{title}/__edit/0") #{title}
        else
          | #{title}
    
      span#debug
      form(action="/__search/#{wiki}",method="get",style="float:right;font-size:12pt;")
        input(height='20',name='q',type='text',value="#{query}")
        input(type='submit',value='リスト/検索')
    
      span#datestr.language

    #rawdata rawdata: @page.text.gsub

    p

    div.
      Search: <input type="text" id="query" autocomplete="off" onkeyup="search(event)"
      style="font-size:10pt;border:none;padding:1px;margin:0;background-color:#f0f0ff;">
    
    #contents

    input(autocomplete='off',type='text',id='newtext',style='visibility:hidden;')

    p

    #links.links

    p
